---
- hosts: all
  sudo: true
  vars:
    web_server: nginxphp
    servername: myApp.dev
    timezone: UTC
  vars_files:
    - vars/mysql.yml
    - vars/pgsql.yml
    - vars/common.yml
    - vars/nginxphp.yml
    - vars/ws_defaults.yml
    - vars/mongodb.yml
  roles:
    - init
    - nginx
    - php5-cli
    - php5-fpm
    - phpcommon
    - php-pecl
    #- nodejs
    # - mongodb
    - composer
    #- mysql
    #- pgsql
    - app
    #- yo
